extends layout 

block content 
    div#users-container 
        h3#users-title Random User
        div#users-main-container 
            div#image-container 
                //- img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScsbQpEOS9UM6nT0uyCvjH19ER5jf7djMW2Q&s", alt="A Random user")
                img(src=user.picture.large, alt="")
            div#user-data-container 
                //- span#user-name-span  John Doe
                span#user-name-span #{user.name.title} #{user.name.first} #{user.name.last}
                span#user-gender-span #{user.gender}
                span#user-age-span #{user.dob.age}
                span#user-city-span #{user.location.city}
                span#user-email-span #{user.email}
            div#button-container 
                button Get Another User
            
block scripts 
    script.
        const user = !{JSON.stringify(user)};
        console.log("User data:", user);
        const getAnotherUserButton = document.getElementsByTagName('button')[0]
        getAnotherUserButton.addEventListener('click', function() {
            window.location.reload()
        })
        

block styles 
    style.
        #users-container {
            width: 50%;
            height: 100%;
            margin: auto;
            background: radial-gradient(purple, white);
        }
        #user-data-container {
            display: flex;
            flex-direction: column;
        }
        #user-data-container span {
            margin: 10px 0;
            font-size: 14px;
            color: #FFF;
        }
        #button-container {
            margin-top: 20px;
        }
        img {
                border-radius: 50%;
                box-shadow: 0 0 10px #FFF;
            }
        button{
            padding: 12px 18px;
            cursor: pointer;
        }
